<div class="row justify-content-center pb-3">
  <div class="col-sm-4">
    <h2>Adding a New Pet</h2>
    <form #petForm="ngForm" (ngSubmit)="addPet(); petForm.reset()">
      <div class="form-group">
        <label for="breed">Breed:</label>
        <input type="text" id="breed" class="form-control" [(ngModel)]="pet.breed" name="breed" required>
      </div>
      <div class="form-group">
        <label for="petName">Pet name:</label>
        <input type="text" id="petName" class="form-control" [(ngModel)]="pet.petName" name="petName" required>
      </div>
      <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" id="color" class="form-control" [(ngModel)]="pet.color" name="color">
      </div>
      <div class="form-group">
        <label for="bornDate">Born date:</label>
        <input type="date" id="bornDate" value="2017-01-05" class="form-control" [(ngModel)]="pet.bornDate" name="bornDate">
      </div>
      <button type="button" class="btn btn-primary" [disabled]="petForm.invalid">{{ pet.id ? 'Modify': 'Register' }}</button>
    </form>
  </div>
  <div class="col-sm-3">
    {{diagnostic()}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 py-2">
    <h4>List of {{pets.length}} pets.</h4>
  </div>
  <div class="col-sm-3" *ngFor="let p of getPets(); let pos = index">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ p.breed }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Name: {{ p.petName }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Born: {{ p.bornDate }}</h6>
        <p class="card-text">{{p.description}}</p>
        <button class="card-link" (click)="modifyPet(pos)">Select</button>
      </div>
    </div>
  </div>
</div>
